name: Test
on: [ push, pull_request ]
env:
  COVERALLS_PARALLEL: 1
  COVERALLS_REPO_TOKEN: f3VyR3js03R8zyeA32NWscNBNTR7OYR5k
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
        - 25.1
        - 25.2
        - 25.3
        - 26.1
        - 26.2
        - 26.3
        - 27.1
        - snapshot
    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}
    - uses: conao3/setup-cask@master
    - uses: actions/checkout@v2
    - name: Test
      run: |
        cask install
        make test
  finalize:
    runs-on: ubuntu-20.04
    if: always()
    needs: test
    steps:
    - run: curl "https://coveralls.io/webhook?repo_token=$COVERALLS_REPO_TOKEN" -d "payload[build_num]=$GITHUB_RUN_ID&payload[status]=done"
